.home-container{
    display:flex;
    justify-content: space-between;
    padding-top: 50px;

}


.home-content .section-title{
font-size: 3rem;
padding-right: 50px;
line-height: 60px;
margin-bottom: 20px;

}

span .hightlights{
    color:#6f55f2;
}

.home-content p{
    font-size: 1.1rem;
    color: var(--heading-color);
    margin-bottom: 50px;
    line-height: 30px; 
}
.home-btns{
    display: flex;
    align-items: center;
    column-gap: 3rem;
}



.box-01{

    width: 400px;
    height: 400px;
    border-radius: 100%;
    border: 25px solid rgba(141,141,235,1);

}

.home-img-wrapper{
    position: relative;
    z-index: 1;
}

.box-img{
    position: absolute;
    top: -12%;
    left:-13%;
    z-index: 10;
}

.box-img img{
  width: 25.3rem;
  height: 25rem;
  border-radius: 54%;
  margin-left: 83px;
  margin-top: 78px;
  
}

.whatsapp-container{
width: 100px;
    position: absolute;
    top:55%;
    left: -11%;
    z-index: 10;
    box-shadow: -3px 3px 8px -1px #d3cef2;
    text-align: center;
    background: #fff;
    border-radius: 5px;
    padding: 15px 10px;
}

.whatsapp-container h5{
    font-size: .8rem;
    color: var(--heading-color);
    font-weight: 600;

}

.support{
    position: absolute;
    top:-2%;
    left: 80%;
    z-index: 10;
    box-shadow: 3px -3px 8px -1px #d3cef2;
    text-align: center;
    background: #fff;
    border-radius: 5px;
    padding:1.2rem;
}

.support h5{

 
    color: var(--heading-color);
  margin-top: 1rem;
  font-size: 0.9rem;

}

