.about-us-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }
  
  .team-members {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .about-us-description {
    flex: 1;
    text-align: left;
  }
  
  .team-members h2 {
    text-align: left;
  }
  
  .about-us-heading {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .about-us-description p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 40px;
  }
  
  .member-card {
    width: 200px;
    margin-bottom: 20px;
  }
  
  .member-image {
    width: 100%;
    height: auto;
    border-radius: 3%;
    margin-bottom: 10px;
  }
  
  .member-name {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .member-role {
    font-size: 14px;
    color: #888;
  }
  