.header{
    width: 100%;
    height: 70px;
    line-height: 70px;


}

.nav_container{

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
display: flex;
align-items: center;
column-gap: 0.5rem;
}

.logo_img{

    width: 40px;
    height: 40px;
    padding: 10px;
    line-height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_img img{
    width: 6rem;
}

.logo h2{
    color: var(--heading-color);
    font-weight: 700 !important;
}

.menu{
    display: flex;
    align-items: center;
    column-gap: 2.7rem;

}

.nav_item a{
    color: var(--heading-color);
    font-weight: 600 !important;
    cursor: pointer;
    transition: 0.3s;
}
.nav_item a:hover{
    color: var(--primary-color);
}

.navigation{
    display: flex;
    justify-content: space-between;
}
.nav_right{
   margin: 17px 1px 0px 12px;
}
.register-btn{
    border: none;
    outline: none;
    padding: 7px 15px;
    color: #fff;
    background: var(--primary-color);
    border-radius: 5px;
    font-family: var(--font-name);
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}